In [2]:
import pandas as pd

path = "/media/mohammad/NewVolume/code/result_x/loso.csv"

df = pd.read_csv(path,  sep=";",on_bad_lines="skip")  # سطرهای خراب رو رد می‌کنه
print(df.head())

                   Start time                    End time Duration Net  \
0  2025-08-09 12:06:48.976406  2025-08-09 12:08:54.703089  0:02:05  rf
1  2025-08-09 12:08:54.714055  2025-08-09 12:11:00.130565  0:02:05  rf
2  2025-08-09 12:11:00.142083  2025-08-09 12:13:05.575585  0:02:05  rf
3  2025-08-09 12:13:05.586442  2025-08-09 12:15:10.837371  0:02:05  rf
4  2025-08-09 12:16:29.185709  2025-08-09 12:18:34.344422  0:02:05  rf

  F1 mean F1 std Accuracy mean Accuracy std  \
0   61,84  12,22         68,96        10,77
1   62,15  12,91          69,6        10,26
2    61,3  12,27         68,94         9,97
3   61,76  12,33          69,3         10,7
4   61,43  11,45         68,87         9,89

                                                  F1  \
0  [np.float64(0.5847382431233363), np.float64(0....
1  [np.float64(0.5625), np.float64(0.745098039215...
2  [np.float64(0.5625), np.float64(0.638888888888...
3  [np.float64(0.5418181818181819), np.float64(0....
4  [np.float64(0.5625), np.float64(0.694117647058...

                                                Accs  \
0  [0.6388888888888888, 0.7692307692307693, 0.724...
1  [0.6111111111111112, 0.7692307692307693, 0.655...
2  [0.6111111111111112, 0.6923076923076923, 0.655...
3  [0.6111111111111112, 0.7307692307692307, 0.689...
4  [0.6111111111111112, 0.7307692307692307, 0.655...

                                               Param
0  [('classes', [[0], [1]]), ('dataset', 'painmon...
1  [('classes', [[0], [1]]), ('dataset', 'painmon...
2  [('classes', [[0], [1]]), ('dataset', 'painmon...
3  [('classes', [[0], [1]]), ('dataset', 'painmon...
4  [('classes', [[0], [1]]), ('dataset', 'painmon...

In [3]:
# تعداد سطر و ستون
print("shape:", df.shape)

# نمایش اسم سرستون‌ها
print("columns:", df.columns.tolist())

shape: (161, 11)
columns: ['Start time', 'End time', 'Duration', 'Net', 'F1 mean', 'F1 std', 'Accuracy mean', 'Accuracy std', 'F1', 'Accs', 'Param']

In [4]:
df[['Net',"Accuracy mean", 'Param']][0:10]

  Net Accuracy mean                                              Param
0  rf         68,96  [('classes', [[0], [1]]), ('dataset', 'painmon...
1  rf          69,6  [('classes', [[0], [1]]), ('dataset', 'painmon...
2  rf         68,94  [('classes', [[0], [1]]), ('dataset', 'painmon...
3  rf          69,3  [('classes', [[0], [1]]), ('dataset', 'painmon...
4  rf         68,87  [('classes', [[0], [1]]), ('dataset', 'painmon...
5  rf         68,93  [('classes', [[0], [1]]), ('dataset', 'painmon...
6  rf         69,98  [('classes', [[0], [1]]), ('dataset', 'painmon...
7  rf         70,48  [('classes', [[0], [1]]), ('dataset', 'painmon...
8  rf          68,9  [('classes', [[0], [1]]), ('dataset', 'painmon...
9  rf         69,13  [('classes', [[0], [1]]), ('dataset', 'painmon...

In [5]:
import pandas as pd
import ast  # برای تبدیل رشته به ساختار پایتونی

path = "/media/mohammad/NewVolume/code/result_x/loso.csv"

df = pd.read_csv(path, sep=";", on_bad_lines="skip")

# تابع تبدیل هر سلول Param به دیکشنری
def parse_param_cell(cell):
    if not isinstance(cell, str):
        return {}
    s = cell.strip()
    # اگر با " شروع و تمام می‌شود (مثل خروجی CSV)
    if s.startswith('"') and s.endswith('"'):
        s = s[1:-1]
    try:
        data = ast.literal_eval(s)   # تبدیل رشته به list/tuple/dict پایتونی
    except Exception as e:
        print("BAD CELL:", cell, e)
        return {}
    
    # اگر لیستِ tuple است، تبدیلش کن به dict
    if isinstance(data, list):
        try:
            data = dict(data)
        except Exception:
            pass
    return data if isinstance(data, dict) else {}

# ۱) تبدیل ستون Param به دیکشنری برای هر ردیف
param_dicts = df["Param"].apply(parse_param_cell)

# ۲) باز کردن دیکشنری‌ها به ستون‌های جدا
param_df = param_dicts.apply(pd.Series)

# ۳) چسباندن ستون‌های جدید به df اصلی
df_expanded = pd.concat([df, param_df], axis=1)

# اگر دیگه ستون Param قدیمی رو نمی‌خوای:
# df_expanded = df_expanded.drop(columns=["Param"])

print(df_expanded.head())
print(df_expanded.columns)

                   Start time                    End time Duration Net  \
0  2025-08-09 12:06:48.976406  2025-08-09 12:08:54.703089  0:02:05  rf
1  2025-08-09 12:08:54.714055  2025-08-09 12:11:00.130565  0:02:05  rf
2  2025-08-09 12:11:00.142083  2025-08-09 12:13:05.575585  0:02:05  rf
3  2025-08-09 12:13:05.586442  2025-08-09 12:15:10.837371  0:02:05  rf
4  2025-08-09 12:16:29.185709  2025-08-09 12:18:34.344422  0:02:05  rf

  F1 mean F1 std Accuracy mean Accuracy std  \
0   61,84  12,22         68,96        10,77
1   62,15  12,91          69,6        10,26
2    61,3  12,27         68,94         9,97
3   61,76  12,33          69,3         10,7
4   61,43  11,45         68,87         9,89

                                                  F1  \
0  [np.float64(0.5847382431233363), np.float64(0....
1  [np.float64(0.5625), np.float64(0.745098039215...
2  [np.float64(0.5625), np.float64(0.638888888888...
3  [np.float64(0.5418181818181819), np.float64(0....
4  [np.float64(0.5625), np.float64(0.694117647058...

                                                Accs  ...     classes  \
0  [0.6388888888888888, 0.7692307692307693, 0.724...  ...  [[0], [1]]
1  [0.6111111111111112, 0.7692307692307693, 0.655...  ...  [[0], [1]]
2  [0.6111111111111112, 0.6923076923076923, 0.655...  ...  [[0], [1]]
3  [0.6111111111111112, 0.7307692307692307, 0.689...  ...  [[0], [1]]
4  [0.6111111111111112, 0.7307692307692307, 0.655...  ...  [[0], [1]]

     dataset input_fs  max_depth min_samples_split  n_estimators  \
0  painmonit      250       None                 2            50
1  painmonit      250       None                 2            50
2  painmonit      250       None                 2            50
3  painmonit      250       None                 2            50
4  painmonit      250       None                 2            50

   painmonit_label resample  selected_sensors  \
0            covas      256          [Eda_RB]
1            covas      256          [Eda_RB]
2            covas      256          [Eda_RB]
3            covas      256          [Eda_RB]
4            covas      256          [Eda_RB]

                            sensor_names
0  [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
1  [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
2  [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
3  [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
4  [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]

[5 rows x 21 columns]
Index(['Start time', 'End time', 'Duration', 'Net', 'F1 mean', 'F1 std',
       'Accuracy mean', 'Accuracy std', 'F1', 'Accs', 'Param', 'classes',
       'dataset', 'input_fs', 'max_depth', 'min_samples_split', 'n_estimators',
       'painmonit_label', 'resample', 'selected_sensors', 'sensor_names'],
      dtype='object')

In [6]:
df_expanded['sensor_names'][0:10]

0    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
1    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
2    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
3    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
4    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
5    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
6    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
7    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
8    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
9    [Bvp, Eda_E4, Resp, Eda_RB, Ecg, Emg]
Name: sensor_names, dtype: object

In [7]:
print(type(df_expanded["classes"].iloc[0]))
print(df_expanded["classes"].iloc[0])

<class 'list'>
[[0], [1]]

In [8]:
def show_data(slit_calsses):
    # ۱) شرط: هر سطری که classes دقیقا [[0], [1]] باشد
    mask = df_expanded["classes"].apply(lambda x: x == slit_calsses)

    # ۲) فیلتر کردن و فقط ستون‌های مورد نظر
    result = df_expanded.loc[mask, ["Accuracy mean", 'Accuracy std' , 'F1 mean','n_estimators']]

    print(result)

In [9]:
show_data([[0],[1],[2], [3],[4]])

    Accuracy mean Accuracy std F1 mean  n_estimators
109         50,47         9,04   34,22            50
110         50,51         7,55   34,17            50
111         50,27         8,55   34,23            50
112         50,75         7,52   35,22            50
113         50,19         8,34   34,05            50
114         45,37         7,79   33,96            51
115         44,93         8,42   33,16            51
116         44,97         8,36   33,52            51
117         44,37         8,64   32,69            51
118         44,89         9,46   33,21            51
119         45,37         8,16   33,56           201
120         45,17         8,37   33,14           201
121         45,25         8,42   33,15           201
122         45,16         8,19   33,51           201
123         44,81         8,82   32,72           201

In [10]:
show_data([[0],[1],[2], [3],[4]])

    Accuracy mean Accuracy std F1 mean  n_estimators
109         50,47         9,04   34,22            50
110         50,51         7,55   34,17            50
111         50,27         8,55   34,23            50
112         50,75         7,52   35,22            50
113         50,19         8,34   34,05            50
114         45,37         7,79   33,96            51
115         44,93         8,42   33,16            51
116         44,97         8,36   33,52            51
117         44,37         8,64   32,69            51
118         44,89         9,46   33,21            51
119         45,37         8,16   33,56           201
120         45,17         8,37   33,14           201
121         45,25         8,42   33,15           201
122         45,16         8,19   33,51           201
123         44,81         8,82   32,72           201

In [11]:
show_data([[0],[4]])

   Accuracy mean Accuracy std F1 mean  n_estimators
36         94,21         6,43   88,09            50
37         94,09         6,34   87,18            50
38         94,33         6,25   88,57            50
39         94,31         6,33   87,29            50
40         94,09         6,04   88,13            50
41         94,45          6,4    87,8           200
42         94,43         6,09   87,54           200
43         94,27         6,16   87,51           200
44         94,71          5,7   88,27           200
45         94,34         5,96   87,33           200

In [13]:
ch2 = pd.read_csv('/media/mohammad/NewVolume/code/result_x/hc2_covas_loso_results.csv')

In [14]:
ch2

   subject_id  accuracy  n_test  eval_time_total_sec  eval_time_per_sample_sec
0           0  0.395833      48            65.893492                  1.372781
1           1  0.500000      48            62.219476                  1.296239
2           2  0.541667      48            61.366644                  1.278472
3           3  0.479167      48            59.398946                  1.237478
4           4  0.479167      48            58.562557                  1.220053
5           5  0.520833      48            61.846924                  1.288478
6           6  0.583333      48            61.238563                  1.275803
7           7  0.520833      48            57.346120                  1.194711
8           8  0.562500      48            60.547646                  1.261409
9           9  0.604167      48            59.043260                  1.230068
10         10  0.479167      48            58.483712                  1.218411
11         11  0.448980      49            64.177415                  1.309743
12         12  0.500000      48            59.252267                  1.234422
13         13  0.604167      48            61.041047                  1.271688
14         14  0.375000      48            57.509672                  1.198118
15         15  0.586957      46            58.093701                  1.262907
16         16  0.604167      48            60.130978                  1.252729
17         17  0.562500      48            65.821664                  1.371285
18         18  0.666667      48            61.307677                  1.277243
19         19  0.270833      48            63.401023                  1.320855
20    OVERALL  0.514077     959          1216.682783                  1.268699